# Day 1
https://github.com/anthonydb/practical-sql-2/blob/main/Chapter_02/Chapter_02.sql

## Create Table
Use `CREATE TABLE`

In [2]:
CREATE TABLE teachers (
    id bigserial,
    first_name varchar(25),
    last_name varchar(50),
    school varchar(50),
    hire_date date,
    salary numeric
);

: relation "teachers" already exists

## Insert Rows

In [3]:
INSERT INTO teachers (first_name, last_name, school, hire_date, salary)
VALUES ('Janet', 'Smith', 'F.D. Roosevelt HS', '2011-10-30', 36200),
       ('Lee', 'Reynolds', 'F.D. Roosevelt HS', '1993-05-22', 65000),
       ('Samuel', 'Cole', 'Myers Middle School', '2005-08-01', 43500),
       ('Samantha', 'Bush', 'Myers Middle School', '2011-10-30', 36200),
       ('Betty', 'Diaz', 'Myers Middle School', '2005-08-30', 43500),
       ('Kathleen', 'Roush', 'F.D. Roosevelt HS', '2010-10-22', 38500);

In [2]:
SELECT
    *
FROM teachers;

id,first_name,last_name,school,hire_date,salary
1,Janet,Smith,F.D. Roosevelt HS,2011-10-30,36200
2,Lee,Reynolds,F.D. Roosevelt HS,1993-05-22,65000
3,Samuel,Cole,Myers Middle School,2005-08-01,43500
4,Samantha,Bush,Myers Middle School,2011-10-30,36200
5,Betty,Diaz,Myers Middle School,2005-08-30,43500
6,Kathleen,Roush,F.D. Roosevelt HS,2010-10-22,38500

# Day 2
https://github.com/anthonydb/practical-sql-2/blob/main/Chapter_03/Chapter_03.sql

## Select
Can use "a little-known bit of standard SQL":

In [1]:
TABLE teachers;

id,first_name,last_name,school,hire_date,salary
1,Janet,Smith,F.D. Roosevelt HS,2011-10-30,36200
2,Lee,Reynolds,F.D. Roosevelt HS,1993-05-22,65000
3,Samuel,Cole,Myers Middle School,2005-08-01,43500
4,Samantha,Bush,Myers Middle School,2011-10-30,36200
5,Betty,Diaz,Myers Middle School,2005-08-30,43500
6,Kathleen,Roush,F.D. Roosevelt HS,2010-10-22,38500

In [2]:
--Query subset of columns
SELECT last_name, first_name, salary FROM teachers;

last_name,first_name,salary
Smith,Janet,36200
Reynolds,Lee,65000
Cole,Samuel,43500
Bush,Samantha,36200
Diaz,Betty,43500
Roush,Kathleen,38500

## ORDER BY

In [3]:
SELECT first_name, last_name, salary
FROM teachers
ORDER BY salary DESC;

first_name,last_name,salary
Lee,Reynolds,65000
Samuel,Cole,43500
Betty,Diaz,43500
Kathleen,Roush,38500
Janet,Smith,36200
Samantha,Bush,36200

In [4]:
--Can also do multiple sorts on table
SELECT last_name, school, hire_date
FROM teachers
ORDER BY school ASC, hire_date DESC;

last_name,school,hire_date
Smith,F.D. Roosevelt HS,2011-10-30
Roush,F.D. Roosevelt HS,2010-10-22
Reynolds,F.D. Roosevelt HS,1993-05-22
Bush,Myers Middle School,2011-10-30
Diaz,Myers Middle School,2005-08-30
Cole,Myers Middle School,2005-08-01

## DISTINCT

In [6]:
SELECT DISTINCT school
FROM teachers
ORDER BY school;

school
F.D. Roosevelt HS
Myers Middle School

Can use `DISTINCT` to ask "For each x in the table, what are all the y values?" e.g.
- For each factory, what are the parts it produces?

In [8]:
--DISTINCT also works on more than 1 column at a time
SELECT DISTINCT school, salary
FROM teachers
ORDER BY school, salary;

school,salary
F.D. Roosevelt HS,36200
F.D. Roosevelt HS,38500
F.D. Roosevelt HS,65000
Myers Middle School,36200
Myers Middle School,43500